@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina/Agustina.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold"),
    url("./assets/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Italic";
  src: local("Open Sans Italic"),
    url("./assets/fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Medium";
  src: local("Open Sans Medium"),
    url("./assets/fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Regular";
  src: local("Open Sans Regular"),
    url("./assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 19px / 23px Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}
